APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_NAME=bank_service
DB_SSLMODE=disable

JWT_SECRET=your_jwt_secret

CARD_PGP_KEY=your_card_pgp_key
CARD_HMAC_SECRET=your_card_hmac_secret